{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_book_details'|trans({'%id%': book.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_book_details'|trans({'%id%': book.id|default('')}) }}</h1>
    {% if book is defined and book|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ book.id }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  book.category.name }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  book.title }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ book.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ book.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label_tags'|trans }}</dt>
            <dd>

                {% if book.tags is defined and book.tags|length %}
                    {% for tag in book.tags %}
                        {{ tag.title }}
                    {% endfor %}
                {% else %}
                    &nbsp;
                {% endif %}
            </dd>
        </dl>
        <h2>{{ 'comment_list'|trans }}</h2>
        {% if comments|length > 0 %}
            {% for comment in comments %}
                <h4>{{ comment.author }}</h4>
                <small>
                    {{ comment.createdAt|format_datetime('medium', 'short') }}
                </small>
                <p>{{ comment.content }}</p>
                {% if is_granted('ROLE_ADMIN') %}
                    <hr>
                    <a href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'action_delete'|trans }}">
                        {{ 'action_delete'|trans }}
                    </a>
                    <hr>
                    </td>
                {% endif %}
            {% endfor %}
        {% else %}
            <div>{{ 'no_comments'|trans }}</div>
        {% endif %}
        <p class="button">
            <a href="{{ url('book_comment', {id: book.id}) }}" title="{{ 'action_add_comment'|trans }}">
                {{ 'action_add_comment'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
    <p class="button">
        <a href="{{ url('book_index') }}" title="{{ 'action_back_to_list'|trans }}">
            {{ 'action_back_to_list'|trans }}
        </a>
    </p>
{% endblock %}