{% extends 'base.html.twig' %}

{% block title %}
    {{ 'main_page'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'main_page'|trans }}</h1>

    <div class="button">
        <a href="{{ url('book_index') }}" class="btn btn-link">
            {{ 'action_to_books'|trans }}
        </a>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="button">
        <a href="{{ url('category_index') }}" class="btn btn-link">
            {{ 'action_to_category'|trans }}
        </a>
    </div>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
    <div class="button">
        <a href="{{ url('user_index') }}" class="btn btn-link">
            {{ 'action_to_user'|trans }}
        </a>
    </div>
    {% endif %}
{% endblock %}